<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container">
        <article>
            <h1>This Month Special Offer</h1>

            <% for(var i = offers.length -1 ;i>=0;i--){ %> 
                <section>
                    <div class="card w-100 m-4 border border-dark border-5">
                        <div class="card-body">
                            <h1 class="card-title">Name: <%= offers[i].name %></h5>
                            <h3 class="card-subtitle">Price: £ <%= offers[i].price %> %></h5>
                            <p class="card-text"><small class="text-muted">Expired On: <%= new Date(offers[i].expiredDate).toDateString() %></small></p>
                            <a href="/offers/<%= offers[i]._id %> "><button>Detail</button></a>
                        </div>
                        <img src="<%= offers[i].images.url %> " class="card-img-bottom" alt="...">
                    </div>
                    
                </section>
                <% } %> 
        </article>
    </main>
</body>
</html>