<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container">
        <article>
            <h1>This Month Special Offer</h1>
            <% for(let offer of offers){ %> 
                <section>
                   <h1>Name: <%= offer.name %> </h1> 
                   <h2>Price: £ <%= offer.price  %> </h2>
                   <img src="<%= offer.image %> " alt="Image not found!">
                   <h4>Expired On: <%= new Date(offer.expiredDate).toDateString() %> </h4>
                   <a href="/offers/<%= offer._id %> "><button>Detail</button></a>
                </section>
                <% } %> 
        </article>
    </main>
</body>
</html>