<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    
    <main class="container">
        <article>
            <form action="/offers/<%= offer._id %>?_method=PATCH" method="post">
                <h1>Update Offer</h1>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%= offer.name %> ">
                <label for="image">Image</label>
                <input type="text" name="image" id="image" value="<%= offer.image %> ">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" value="<%= offer.price.toString() %>">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10"> <%= offer.description %> </textarea>
                <label for="expiredDate">Expired Date</label>
                <%= offer.getHTMLDate(offer.expiredDate)%> 
                <input type="date" name="expiredDate" id="expiredDate" value="<%= offer.getHTMLDate(offer.expiredDate) %>">
                <button type="submit">Submit</button>
            </form>
        </article>
    </main>
</body>
</html>