<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container">
        <article>
            <h1><%= facial.name  %> </h1>
            <h3 class="style-header-detail">Description</h3>
            <p><%= facial.description  %> </p>
            <div class="row">
                <div class="col-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th >Duration</th>
                                <th >Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let price of facial.price){ %>
                                <tr>

                                    <td>
                                        <%= price.duration %>
                                    </td>
                                    <td>
                                        £<%= price.price %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            
                <% if(currentuser) {%> 
            <a href="/treatments/facials/<%= facial._id %>/edit">Update</a>
            <form action="/treatments/facials/<%= facial._id %>?_method=DELETE " method="post">
                <button type="submit">Delete</button>
            </form>
                <% } %> 

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% facial.images.forEach((image,index)=>{ %>
            
                        <div class="carousel-item <%= index==0?" active":"" %> " data-bs-interval="3000">
                            <img src="<%= image.url %> " class="d-block w-100" alt="...">
                        </div>
            
                        <% }) %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </article>
    </main>
</body>
</html>