<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body >
    <main class="container">
        <article>
        
            <div class="row">
                <div class="col-1"></div>
                <div class="col-8">
            
          <h1>Facials</h1>
            <a href="/treatments/facials/new"><Button>New Facial</Button></a>

          <% facials.forEach((facial,index)=>{%>
          <h2 id="<%= facial.name %>-<%= index  %>">
            Name:<%= facial.name %>
          </h2>
          <p>Description:<%= facial.description %></p>
          <p>Duration:<%= facial.duration %> - Price:£<%= facial.price %>  </p>
          <a href="/treatments/facials/<%= facial._id %> "
            ><button>Detail</button></a
          >
          <% }) %>

                </div>
                <div class="col-2">
                    
                        <nav class="navbar sticky-top" style="top: 60px">
                            <ul>
                                <% facials.forEach((facial,index)=>{ %>
                                    <a href="#<%= facial.name %>-<%= index %>  ">
                                <li>
                                    <%= facial.name %>
                                </li>
                                    </a>
                                <% }) %>
                            </ul>
                        </nav>
                    
                </div>
        </article>
    </main>
</body>
</html>