<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body >
    <main class="container">
        <article>
            <div class="row">
                <div class="col-12">
                    <h1 style="display: inline-block;">Facials</h1>
                    <a href="/treatments/facials/new"><Button>New Facial</Button></a>
                </div>
            </div>
            <div class="row">
                
                <% facials.forEach((facial,index)=>{%>
                    
                        <div class="facial_card" style="width: 35rem;">
                            <img class="card-img-top" src="<%= facial.images[0].url %>" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title" id="<%= facial.name %>-<%= index  %>">Name:<%= facial.name %></h2>
                                    <p class="card-text">
                                        <%= facial.description %>
                                    </p>

                                    <p>Duration:<%= facial.duration %> - Price:£<%= facial.price %>
                                    </p>

 
                                    <a href="/treatments/facials/<%= facial._id %> " class="btn btn-primary">Detail</a>
                                </div>
                        </div>
        
                    
                <% }) %>
                <div class="col-md-2">
                    
                        <nav class="navbar sticky-top" id="facial-quickaccess" style="top: 60px">
                            <ul>
                                <% facials.forEach((facial,index)=>{ %>
                                    <a href="#<%= facial.name %>-<%= index %>  ">
                                <li>
                                    <%= facial.name %>
                                </li>
                                    </a>
                                <% }) %>
                            </ul>
                        </nav>
                    
                </div>
            </div>
        </article>
    </main>
</body>
</html>