<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body >


            <div class="row">
                <div class="col-12">
                    <h1>Facials</h1>
                    <a href="/treatments/facials/new"><Button>New Facial</Button></a>
                </div>
            </div>
            <div class="row massage-main">
                <div class="col-2"></div>
                <div class="col-8">
                    <article>
                        
                <div class="row row-cols-1 row-cols-md-3 g-4">
                <% facials.forEach((facial,index)=>{%>
                        <div class="col">
                        <div class="card h-100" id = "massage_card">
                            
                            <img class="card-img-top" id="<%= facial.name %>-<%= index  %>" src="<%= facial.images[0].url %>" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title" >Name:<%= facial.name %></h2>
                                    <p class="card-text">
                                        <%= facial.description %>
                                    </p>

                                    <p>Duration:<%= facial.duration %> - Price:£<%= facial.price %>
                                    </p>

 
                                    <a href="/treatments/facials/<%= facial._id %> " class="btn btn-primary">Detail</a>
                                </div>
                        </div>
                        </div>
        
                    
                <% }) %>
                </div>

                </article>
                </div>
                <div class="col-2" id="treatment-quickaccess">
                    
                        <nav class="navbar sticky-top" id="facial-quickaccess" style="top: 60px">
                            <ul>
                                <% facials.forEach((facial,index)=>{ %>
                                    <a href="#<%= facial.name %>-<%= index %>  ">
                                <li>
                                    <%= facial.name %>
                                </li>
                                    </a>
                                <% }) %>
                            </ul>
                        </nav>
                    
                </div>
            </div>


</body>
</html>