<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facials</title>
</head>
<body>
    <main>
        <article>
            <h1>Facials</h1>
            <a href="/treatments/facials/new"><Button>New Facial</Button></a>
            <% for(let facial of facials) {%> 
                <h1>Name:<%= facial.name %> </h1>
                <p>Description:<%= facial.description %> </p>
                <p>Duration:<%= facial.duration %> - Price:£<%= facial.price %>  </p>
                <a href="/treatments/facials/<%= facial._id %>"><button>Detail</button></a>
                <form action="/treatments/facials/<%= facial._id %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
                <% } %> 
        </article>
    </main>
</body>
</html>