<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container" id="massage-main">
        <article><h1>Massage Detail</h1></article>
        <h2>Name:<%= massage.name %> </h2>
        <p>Description:<%= massage.description %> </p>
        <p>Benefit:<%= massage.benefit %> </p>
        <% for(let p of massage.prices){ %> 
            <p>Duration: <%= p.duration %> Price: <%= p.amount %>  </p>
            <% } %> 
        
        <a href="/treatments/massages/<%= massage._id %>/update"><button>Update</button></a>
        <% for(let image of massage.images){ %> 
            <img src="<%= image.url %> " alt="">
            <% } %> 
        <form action="/treatments/massages/<%= massage._id %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
        </form>
    </main>
</body>
</html>