<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Massages</title>
</head>
<body>
    <main>
        <article>
            <h1>Massages</h1>
            <% for(let massage of massages) {%> 
                    <h2>Name:<%= massage.name %> </h2>
                    <p>Description:<%= massage.description %> </p>
                    <p>Benefit: <%= massage.benefit %> </p>
                    <% for(let p of massage.prices ) {%> 
                            <p>Duration:<%= p.duration %> Price:<%= p.amount %>  </p>
                    <% } %>
                    <a href="/treatments/massages/<%= massage._id %> "><button>Detail</button></a> 
            <% } %> 
        </article>
    </main>
</body>
</html>