<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
  <main>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <article>
          <h1>Massages</h1>
          <% massages.forEach((massage,index)=>{%>
          <h2 id="<%= massage.name %>-<%= index  %>">
            Name:<%= massage.name %>
          </h2>
          <p>Description:<%= massage.description %></p>
          <p>Benefit: <%= massage.benefit %></p>
          <% for(let p of massage.prices ) {%>
          <p>Duration:<%= p.duration %> Price:<%= p.amount %></p>
          <% } %>
          <a href="/treatments/massages/<%= massage._id %> "
            ><button>Detail</button></a
          >
          <% }) %>
        </article>
      </div>
      <div class="col-2">
        <nav class="navbar sticky-top" style="top: 60px">
          <ul>
            <% massages.forEach((massage,index)=>{ %>
              <a href="#<%= massage.name %>-<%= index %>  ">
                <li>
                  <%= massage.name %>
                </li>
              </a>
              <% }) %>
          </ul>
        </nav>
      </div>
    </div>
  </main>
</body>
